.button {
    text-decoration: none;
    display: block; // for this usecase only. Otherwise, use inline-block
    padding: 0.7rem 2rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    text-transform: uppercase;

    &:hover,
    &:focus {
        transition: all 350ms ease-in-out;
    }
}
