.card {
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: $box-shadow;
    color: $white;
    margin-bottom: 3rem;

    &__title {
        font-size: 1.5rem;
        font-weight: normal;
        margin-bottom: 1.5rem;
    }

    &--basic, &--master {
        background-color: $white;
        color: $dark-grayish-blue;

        .button {
            background: $linear-gradient;

            &:active,
            &:link,
            &:visited {
                color: $white;
            }

            &:hover,
            &:focus {
                background: $white;
                border: 1px solid $grayish-blue;
                color: $grayish-blue;
            }
        }
    }

    &--professional {
        background: $linear-gradient;
        .button {
            background: $white;

            &:active,
            &:link,
            &:visited {
                color: $grayish-blue;
            }

            &:hover,
            &:focus {
                background: transparent;
                border: 1px solid $white;
                color: $white;

                transition: all 350ms ease-in-out;
            }
        }
    }

    &__price {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
        .currency {
            font-size: 2rem;
        }
        .amount {
            font-size: 3rem;
        }
    }

    &__features {
        ul {
            list-style: none;
            border-top: 1px solid $light-grayish-blue;
        }

        li {
            border-bottom: 1px solid $light-grayish-blue;
            padding: 1rem;
        }
    }

    &__button {
        margin-top: 2rem;
    }
}

@media (min-width: 600px) {
    .card {
        min-width: 25rem;

        &__price {
            .currency {
                font-size: 2rem;
            }
            .amount {
                font-size: 5rem;
            }
        }
    }
}
