.cycle {
    margin: 5rem 0 8rem;
    &__title {
        color: $grayish-blue;
        font-size: 3rem;
        margin-bottom: 4rem;
    }

    label {
        font-size: 1.5rem;
        color: $light-grayish-blue;
    }
}

@media (min-width: 600px) {
    .cycle {
        margin: unset;
        margin-bottom: 6rem;
    }
}
