.cycle {
    margin-bottom: 4rem;
    &__title {
        color: $dark-grayish-blue;
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    label {
        color: $grayish-blue;
    }
}

@media (min-width: 600px) {
    .cycle {
        margin-bottom: 6rem;
    }
}
