html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    // inheriting from html makes it easier to change box-sizing in plugins or other
    // components that leverage other behavior. I won't be using any on this project, def a good to have
    box-sizing: inherit;

    /*
     *  margin/padding resets help enforce style consistency across different browsers
     *  with a clean slate for styling elements.
     */
    padding: 0;
    margin: 0;
}

/*
 * Price font's too big for mobile
 *
 */

body {
    font-family: $font-family;
    font-size: $font-size;

    max-width: 1440px;
    width: 80%;
    margin: 5% auto;

    text-align: center;
    background: $very-light-grayish-blue;
    position: relative;
}

.pattern-top {
    position: absolute;
    left: 375px * 0.5;
    top: -20px;
    z-index: -1;
}

.pattern-bottom {
    position: absolute;
    bottom: -101px;
    z-index: -1;
    left: -70px;

    display: none;
}

@media (min-width: 600px) {

    .pattern-bottom {
        display: block;
    }

    .pattern-top {
        position: absolute;
        right: 0;
        bottom: 375px * 0.5; // half the height of the image (375)
        z-index: -1;

        left: initial;
        top: initial;
    }

    .plans {
        display: grid;
        justify-content: center;
        grid-template-areas: "a b c";

        .card--basic {
            grid-area: a;
            border-radius: 0.5rem 0 0 0.5rem;
            box-shadow: none;
        }

        .card--professional {
            grid-area: b;
            transform: scaleY(1.15);
            box-shadow: none;
        }

        .card--master {
            grid-area: c;
            border-radius: 0 0.5rem 0.5rem 0;
            box-shadow: none;
        }
    }
}
