html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit;
  /*
     *  margin/padding resets help enforce style consistency across different browsers
     *  with a clean slate for styling elements.
     */
  padding: 0;
  margin: 0; }

/*
 * Price font's too big for mobile
 *
 */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9375rem;
  max-width: 1440px;
  width: 80%;
  margin: 5% auto;
  text-align: center;
  background: #f6f6fe;
  position: relative; }

.pattern-top {
  position: absolute;
  left: 187.5px;
  top: -20px;
  z-index: -1; }

.pattern-bottom {
  position: absolute;
  bottom: -101px;
  z-index: -1;
  left: -70px;
  display: none; }

/*

 1500 - 187.5px

I have a non-ending problem with positioning background images, I struggled a little with placing these patterns behind
the cards. What do you use to place the images:

multiple media queries percentages or pixels. ...


Pricing-component-with-toggle
https://github.com/josiahmokob0/Pricing-component-with-toggle
https://pricing-component-with-toggle-bv8bmtc5p-mokobo.vercel.app/


*/
@media (min-width: 1500px) {
  .pattern-top {
    right: 0;
    bottom: 187.5px; }
  .pattern-bottom {
    display: block; } }

@media (min-width: 600px) {
  .pattern-bottom {
    display: block;
    left: -187.5px; }
  .pattern-top {
    right: -187.5px;
    bottom: 187.5px;
    left: initial;
    top: initial; }
  .plans {
    display: grid;
    justify-content: center;
    grid-template-areas: "a b c"; }
    .plans .card--basic {
      grid-area: a;
      border-radius: 0.5rem 0 0 0.5rem;
      box-shadow: none; }
    .plans .card--professional {
      grid-area: b;
      transform: scaleY(1.15);
      box-shadow: none; }
    .plans .card--master {
      grid-area: c;
      border-radius: 0 0.5rem 0.5rem 0;
      box-shadow: none; } }

.cycle {
  margin-bottom: 4rem; }
  .cycle__title {
    color: #494c5f;
    font-size: 2rem;
    margin-bottom: 1.5rem; }
  .cycle label {
    color: #6d708d; }

@media (min-width: 600px) {
  .cycle {
    margin-bottom: 6rem; } }

.card {
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  color: white;
  margin-bottom: 3rem; }
  .card__title {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 1.5rem; }
  .card--basic, .card--master {
    background-color: white;
    color: #494c5f; }
    .card--basic .button, .card--master .button {
      background: linear-gradient(to left, #696fdd, #a3a8f0); }
      .card--basic .button:active, .card--basic .button:link, .card--basic .button:visited, .card--master .button:active, .card--master .button:link, .card--master .button:visited {
        color: white; }
      .card--basic .button:hover, .card--basic .button:focus, .card--master .button:hover, .card--master .button:focus {
        background: white;
        border: 1px solid #6d708d;
        color: #6d708d; }
  .card--professional {
    background: linear-gradient(to left, #696fdd, #a3a8f0); }
    .card--professional .button {
      background: white; }
      .card--professional .button:active, .card--professional .button:link, .card--professional .button:visited {
        color: #6d708d; }
      .card--professional .button:hover, .card--professional .button:focus {
        background: transparent;
        border: 1px solid white;
        color: white;
        transition: all 350ms ease-in-out; }
  .card__price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem; }
    .card__price .currency {
      font-size: 2rem; }
    .card__price .amount {
      font-size: 3rem; }
  .card__features ul {
    list-style: none;
    border-top: 1px solid #b3b5c6; }
  .card__features li {
    border-bottom: 1px solid #b3b5c6;
    padding: 1rem; }
  .card__button {
    margin-top: 2rem; }

@media (min-width: 600px) {
  .card {
    min-width: 25rem; }
    .card__price .currency {
      font-size: 2rem; }
    .card__price .amount {
      font-size: 5rem; } }

.button {
  text-decoration: none;
  display: block;
  padding: 0.7rem 2rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  text-transform: uppercase; }
  .button:hover, .button:focus {
    transition: all 350ms ease-in-out; }

.cycle .radio {
  background: linear-gradient(to left, #696fdd, #a3a8f0);
  border-radius: 99rem;
  width: 4rem;
  height: 2rem;
  position: relative;
  cursor: pointer; }
  .cycle .radio .dot {
    position: absolute;
    left: 0.26667rem;
    margin: 0.33333rem 0;
    padding: 0.66667rem;
    border-radius: 50%;
    background-color: white; }

.cycle__switch {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem; }
  .cycle__switch input {
    position: absolute;
    opacity: 0; }
  .cycle__switch label {
    border-bottom: 1px solid;
    border-bottom-width: 0;
    cursor: pointer; }
  .cycle__switch label:hover {
    border-bottom-width: 1px; }
